body {
  color: #1779BA;
  background-image: url("background-faded.png");
  opacity: 0.75;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
}

h3 {
  color: #83BCE6;
}

h4 {
  color: #1779BA;
}

p {
  color: #1779BA;
}

li {
  color: #1779BA;
}

.trail-tile {
  font-size: 15px;
}

.button {
  background-color: lightblue;
}
